/* styles.css */

/* Header */
.header-title {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Footer */
footer {
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightgrey;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* NavLink */
.nav-link {
    flex: 1;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 2em;
}

.icon {
    filter: invert(1);
}
#app > div > nav > div > button {
    border: none; /* Remove border from nav icon */
}

/* Media query for small screens */
@media screen and (max-width: 769px) {
  /* Stacks img and page content on small screens */
  #home > div, #contact > div {
    display: flex;
    flex-direction: column;
  }
}
