
/* styles.css */
a {
    text-decoration: none;
}
/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightgrey;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* NavLink */
.nav-link {
    flex: 1;
}

/* Content */
.content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 2em;
}
h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Footer */
footer {
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Icon */
#nav-bar .icon {
    filter: invert(1); /* Makes icons visible on dark nav bar */
}

/* Remove border from nav icon */
#app > div > nav > div > button {
    border: none;
}

/* Remove outline and box shadow from nav toggler */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* Padding for home and contact */
#home, #contact {
    padding: 0;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    /* Stacks img and page content on small screens */
    #home > div, #contact > div {
        display: flex;
        flex-direction: column;
    }
    /* Make both columns take up full width on small screens */
    #contact-side-content {
        width: 80%;
    }
    .home-title {
        padding-top: 50px !important;
    } 
    .contact-email {
        font-size :14px;
    }
}


.headshot-image {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    color: white;
    left: 50%;
    display: block;
    margin: 0 auto;
}

.overlay-content h2,
.overlay-content p,
.overlay-content a {
    margin: 10px;
    padding: 10px;
    text-align: center;

}


#contact-side-content {
    margin-bottom: 0px !important;
}

.overlay-content {
  position: relative; /* Position the background text */
  top: 50%; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(255, 255, 255, 1); /* Fallback color */
  background: rgba(255, 255, 255, 1); /* Black background with 0.5 opacity */
  width: 90%; /* Full width */
  padding: 20px; /* Some padding */
  margin: 0 auto; /* Center horizontally */
  transform: translateY(-50%); /* Adjust to vertically center */
}




