/* styles.css */

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightgrey;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* NavLink */
.nav-link {
    flex: 1;
}

/* Content */
.content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 2em;
}
h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Footer */
footer {
    margin-top: 25px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Icon */
#nav-bar .icon {
    filter: invert(1); /* Makes icons visible on dark nav bar */
}

/* Remove border from nav icon */
#app > div > nav > div > button {
    border: none;
}

/* Remove outline and box shadow from nav toggler */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* Padding for home and contact */
#home, #contact {
    padding: 0;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    /* Stacks img and page content on small screens */
    #home > div, #contact > div {
        display: flex;
        flex-direction: column;
    }
    /* Make both columns take up full width on small screens */
    #home-side-content, #contact-side-content {
        width: 80%;
    }
}



